@charset "UTF-8";

/**
 * CSS para los mapas
 *
 * @file		estilo.css
 * @package		videoteca
 * @version		0.1

 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @copyright	2013 RobEc, http://www.robotica-ecuador.com
 *
 */
 
div {
	margin : 0;
	padding : 0;
}
#menu1
    {
    position: absolute;
    top: 0;
    left: 0;
    right : 0;
    height : 15px;
    }
#lista
    {
    position: absolute;
    top: 15px;
    left: 0;
    bottom : 50px;
    width : 100%;
    }
#lista_cabeza{
    position: absolute;
    top: 15px;
    left: 0;
    right : 0;
    height : 30px;
    background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #e78f08;
    opacity: .8;
    filter: Alpha(Opacity=80);
}
#lista_cuerpo{
    position: absolute;
    width : 100%;
    overflow : auto;
    top: 45px;
    left: 0;
    bottom : 50px;
}
#formulario{
    position: absolute;
    top: 16px;
    left: 0;
    right : 0;
    bottom: 0;
    background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x;
    color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #e78f08;
    opacity: .8;
    filter: Alpha(Opacity=80);
}
#formulario h1{
    position: relative;
    left: 5%;
}
#formulario form{
    position: relative;
    top: 25px;
    left: 15%;
}
#info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    color: black;
    border-radius: 5px;
}
#pie {
	position : absolute;
	right : 0;
	bottom : 0;
	left : 0;
	height : 50px;
}
body{
		font: 62.5% "Trebuchet MS", sans-serif;
		margin: 0;
		padding:0;
}
